/*Stying for small screens*/
@media (max-width: 1600px){
  nav {
    width: 112vw;
  }
  #k-dramas {
    height: 137vh;
}
}

@media (max-width: 1300px){
  .sub-title h1 {
    font-size: 2.8rem;
    padding-top: 5rem;
}
  .container .card {
    max-width: 282px;
    
  }
}
@media (max-width: 1200px) {
  nav {
    width: 102vw;
  }
  .container{
    padding-top:0rem;
  }
  .container .card{
    max-width: 215px;
    height: 200px;
  }
  .container .card .imgBx{
    width: 123px;
  }
  .team {
    width: 100%;
    height: auto;
    padding: 90px 2%;
  }

  .sub-title h1 {
    font-size: 2rem;
    padding-top:3rem
  }
  #k-dramas {
    height: 109vh;
}
  #about {
    height: 70vh;
    padding-top: 10rem;
  }
}

@media only screen and (min-width: 1000px) {

  /* CSS for large desktops */
  /* Reset any changes made in the previous media queries */
  .nav-links li a {
    font-size: 18px;
  }

  #home {
    padding: 0px;
    padding-top: 15rem;
    font-size: 21px;
  }

  section.card {
    padding: 48px 48px 48px 308px;
    font-size: 21px;
  }

  section.card .visual {
    width: 190px;
  }

  h1 {
    font-size: 1.5rem;
    letter-spacing: 7px;
  }

  .container .card .content h2 {
    font-size: 14px;
  }

  .container .card .content p {
    font-size: 13px;
  }

  .box h3 {
    font-size: 23px;
  }
}

@media (max-width: 1000px){
  #home {
    padding-top: 11rem;
  }
  .sub-title h1 {
    font-size: 2rem;
    padding-top: 5rem;
}

}
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .nav-links {
    /* position: fixed; */
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }

  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding-left: 0rem;
  }

  /* Adjust the padding and font size for the home section */
  #home {
    padding: 40px;
    font-size: 18px;
  }

  section.card {
    padding: 140px 27px 37px;
    padding-top: 10rem;
    font-size: 10px;
  }

  .sub-title h1 {
    font-size: 1.3rem;
    color: #cc005f;
    padding-top: 6rem;
    text-align: center;
  }

  section.card .text-content h1 {
    font-size: 1.5rem;
    padding-top: 0;
  }

  section.card .text-content p {
    font-size: 1rem;
    padding-left: 0rem;
  }

  .container {
    padding-top: 0rem;
  }

  .container .card {
    max-width: 167px;
    height: 80px;
  }

  .container .card:hover {
    height: 184px;
  }

  .container .card .imgBx {
    width: 96px;
    height: 97px;
  }

  article {
    max-width: calc(78px + 215px);
    min-width: calc(181px + 134px);
    padding-top: 5rem;

  }

  #about {
    padding-top: 11rem;
    padding-left: 0rem;
  }

  .team-content {
    padding-top: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(127px, auto));
    margin-top: 0;
  }

  .box h5 {
    font-size: 8px;
  }

  .icons i {
    display: contents;
  }


  .contact form {
    width: 294px;
    height: 372px;
  }

  .contact form h4 {
    padding: 0.5rem;
  }

  .contact form textarea {
    padding: 1px;
    min-width: 290px;
    max-width: 39px;
    min-height: 40px;
    max-height: 6px;
  }

  .contact form #lastName,
  .contact form #mobile {
    margin-left: 0px;
  }

  .contact form #button {
    background: #031833;
    margin-right: 8px;
    font-size: 12px;
  }

  .footnav-links a {
    font-size: 1rem;
    font-weight: 50;
  }

  .footer-bottom {
    padding-left: 13px;
    color: #a2e4f6;
    font-size: 0.5rem;
  }

}

@media all and (max-width: 720px) {

  section.card .text-content h3 {
    max-width: calc(100% - 150px);
    font-size: 1rem;
  }

  section.card .text-content p,
  section.card .text-content a {
    font-size: 1.1em;
  }

  section.card .visual {
    width: 150px;
    height: 150px;
    right: none;
    left: auto;
    border-radius: 50%;
  }

  section.card .visual img {
    width: 100%;

  }
}

@media only screen and (max-width: 600px) {

  /* CSS for mobile devices */
  .nav-links li a {
    font-size: 14px;
  }

  /* Hide the cube loader */
  .cube-loader {
    display: none;
  }

  /* Adjust the width of the visual element in the card */
  section.card .visual {
    width: 150px;
  }

  /* Adjust the font size and padding for the h1 in the home section */
  h1 {
    font-size: 2rem;
    letter-spacing: 5px;
  }

  /* Adjust the font size and padding for the h2 in the K-Dramas section */
  .container .card .content h2 {
    font-size: 19px;
  }

  /* Adjust the font size and padding for the p elements in the K-Dramas section */
  .container .card .content p {
    font-size: 8px;
    padding-bottom: 1px;
  }

  /* Adjust the font size for the team names in the About section */
  .box h3 {
    font-size: 10px;
  }

  .contact form {
    width: 80%;
  }
}

/* Medium screens (tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {

  /* Adjust the font size for the navigation links */
  .nav-links li a {
    font-size: 16px;
  }

  /* Adjust the padding and font size for the home section */
  /* #home {
    padding: 100px;
    font-size: 20px;
  } */

  /* Adjust the padding and font size for the card in the home section */
  section.card {
    padding: 48px 48px 48px 208px;
    font-size: 18px;
  }

  /* Adjust the width of the visual element in the card */
  section.card .visual {
    width: 160px;
  }

  /* Adjust the font size and padding for the h1 in the home section */
  h1 {
    font-size: 1.4rem;
    letter-spacing: 5px;
  }

  /* Adjust the font size and padding for the h2 in the K-Dramas section */
  .container .card .content h2 {
    font-size: 22px;
  }

  /* Adjust the font size and padding for the p elements in the K-Dramas section */
  .container .card .content p {
    font-size: 15px;
    padding-bottom: 1px;
  }

  /* Adjust the font size for the team names in the About section */

  .box h3 {
    font-size: 20px;
  }
}

Ritchelle