/*Stying for small screens*/

@media (max-width: 1600px) {
  nav {
    width: 100%;
  }
  #k-dramas {
    height: 150vh;
  }
  section {
    padding-left: 0;
  }
  footer {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  #k-dramas {
    height: 140vh;
  }
  .sub-title h1 {
    font-size: 2.8rem;
    padding-top: 5rem;
  }
  .container .card {
    max-width: 280px;
  }
  .container .card .imgBx {
    width: 206px;
  }
}
@media (max-width: 1200px) {
  .container {
    padding-top: 0rem;
  }
  .container .card {
    max-width: 215px;
    height: 200px;
  }
  .container .card .imgBx {
    width: 123px;
  }

  .sub-title h1 {
    font-size: 2rem;
    padding-top: 7rem;
  }
  #k-dramas {
    height: 110vh;
  }
  #about {
    height: 70vh;
    padding-top: 10rem;
  }
}

@media only screen and (min-width: 1000px) {
  /* CSS for large desktops */
  /* Reset any changes made in the previous media queries */
  .nav-links li a {
    font-size: 13px;
  }

  #home {
    padding: 0px;
    padding-top: 7rem;
    font-size: 21px;
  }

  section.card {
    padding: 48px 48px 48px 308px;
    font-size: 21px;
  }

  section.card .visual {
    width: 190px;
  }
  h1 {
    font-size: 1.5rem;
    letter-spacing: 7px;
  }

  .container .card .content h2 {
    font-size: 14px;
  }

  .container .card .content p {
    font-size: 13px;
  }

  .box h3 {
    font-size: 23px;
  }
}

@media (max-width: 1000px) {
  #home {
    padding-top: 8rem;
  }
  /* article {
    max-width: calc(461px + 248px);
    min-width: calc(469px + 246px);
  } */
  
  article {
    max-width: calc(223px + 209px);
    min-width: calc(494px + 358px);
  }
  section .card .visual {
    width: 248px;
  }
  section.card .text-content h1 {
    padding-top: 2rem;
    padding-left: 18rem;
  }
  section.card .text-content p {
    padding-left: 20rem;
    padding-top: 0rem;
  }
  #k-dramas {
    height: 144vh;
  }
  .sub-title h1 {
    font-size: 2rem;
    padding-top: 5rem;
  }

  #about {
    padding-top: 1rem;
  }

  .team-content {
    padding-left: 0rem;
    padding-right: 0rem;
    gap: 2rem;
    justify-content: space-around;
  }
}

@media (max-width: 900px) {
  #k-dramas {
    height: 145vh;
  }
  #contact {
    margin-bottom: 1in;
  }

  .contactt form {
    width: 550px;
    height: 650px;
  }

  .contactt form input {
    width: 450px;
  }

  .contactt form h4 {
    width: 450px;
  }

  .contactt form textarea {
    width: 450px;
  }

  .footnav-links {
    font-size: 1.1rem;
  }

  .footer-bottom {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }

  .cube-loader {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 0%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .nav-links {
    /* position: fixed; */
    background: transparent;
    height: 44vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    padding-left: 26rem;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }

  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }
article {
  max-width: calc(464px + 248px);
  min-width: calc(290px + 246px);
}
  section.card .text-content h1 {
    padding-top: 1rem;
    font-size: 2rem;
  }
  .container .card {
    max-width: 222px;
  }
  footer {
    width: 102vh;
}
}

@media (max-width: 700px) {
  .cube-loader {
    display: none;
  }
  .nav-links li a {
    padding-left: 21rem;
  }

  .hamburger {
    right: 0%;
  }
  article {
    max-width: calc(684px);
    min-width: calc(775px);
  }
  section.card .text-content h1 {
    font-size: 1.5rem;
    letter-spacing: 3px;
    padding-top: 1rem;
    padding-left: 15rem;
  }
  section.card .text-content p {
    font-size: 0.8rem;
    padding-left: 15rem;
  }
  #k-dramas {
    height: 177vh;
  }
  .container .card {
    max-width: 264px;
  }
  .container .card .imgBx {
    width: 154px;
  }
  section .card .visual {
    width: 198px;
  }

  #about {
    height: 86vh;
  }
  .team-content {
    margin-top: 0;
    padding-top: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
    gap: 5.5rem;
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .nav-links li a {
    padding-left: 14rem;
  }

  .hamburger {
    right: 0%;
  }

  article {
    max-width: calc(421px);
  }
  #contact {
    margin-bottom: 0.5px;
  }

  .contactt form {
    width: 300px;
    height: 550px;
    gap: 5px;
  }

  .contactt form h1 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .contactt form input {
    width: 250px;
  }

  .contactt form h4 {
    width: 250px;
    margin-top: 20px;
  }

  .contactt form textarea {
    width: 250px;
  }

  textarea::-webkit-scrollbar {
    width: 0.75em;
  }

  .contactt form #button {
    margin-bottom: 20px;
  }

  .footnav-links {
    font-size: 0.8rem;
  }

  .footer-bottom {
    font-size: 0.6rem;
  }
  /* CSS for mobile devices */
  .nav-links li a {
    font-size: 14px;
    padding-left: 14rem;
  }
  /* Hide the cube loader */
  .cube-loader {
    display: none;
  }
  section {
    padding-left: 0;
  }
  #k-dramas {
    height: 182vh;
  }
  .container .card {
    max-width: 231px;
  }
  .container .card .content h2 {
    font-size: 20px;
  }
  .container .card .content p {
    font-size: 13px;
    padding-bottom: 0px;
  }
  .box h3 {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .nav-links li a {
    padding-left: 10rem;
  }

  .hamburger {
    right: 0%;
  }
  article {
    max-width: calc(216px + 157px);
    min-width: calc(174px + 195px);
  }
  #k-dramas {
    height: 167vh;
  }
  .container .card {
    max-width: 184px;
    height: 171px;
  }
  section.card .text-content h1 {
    padding-left: 11rem;
  }
  section.card .text-content p {
    padding-left: 11rem;
  }
  section .card .visual {
    width: 154px;
    left: 10px;
  }
  .container .card .imgBx {
    width: 119px;
  }
  .contact form textarea {
    min-width: 321px;
  }
}

@media (max-width: 400px) {
  .nav-links li a {
    padding-left: 10rem;
  }
  /* section {
    padding-left: 6rem;
  } */

  article {
    width: 100%;
    height: 100%;
    margin-left: 14px
  }

  section.card .text-content h1 {
    font-size: 26px;
  }

  section.card .text-content p {
    font-size: 13px;
  }
  #k-dramas {
    height: 289vh;
  }
  .sub-title h1 {
    font-size: 1.5rem;
    padding-top: 2rem;
  }
  .container .card {
    max-width: 287px;
  }
  .container .card .imgBx {
    width: 181px;
    height: 187px;
  }
  .container .card .content p {
    font-size: 14px;
  }
  .container .card:hover {
    height: 349px;
  }
  #about {
    height: 60vh;
  }
  .team-content {
    gap: 1rem;
    margin-left: 14px;
    margin-right: -36px;
  }
  #contact {
    margin-left: 20px;
    margin-bottom: 0px;
  }
  .contact form {
    width: 301px;
    height: 567px;
  }
  .contact form textarea {
    min-width: 293px;
  }
}
@media (min-width: 375px) and (max-width: 375px) {
  section {
    padding-left: 0rem;
  }
  .nav-links li a {
    padding-left: 3rem;
  }
  #k-dramas {
    height: 204vh;
  }
  article {
    width: 100%;
    height: 100%;
  }
  section.card .text-content h1 {
    font-size: 1.5rem;
  }
  section.card .text-content p {
    font-size: 0.7rem;
  }
  .container .card {
    max-width: 167px;
  }
  .container .card .imgBx {
    width: 126px;
    height: 185px;
  }
  .container .card .content h2 {
    font-size: 17px;
  }
  .container .card .content p {
    font-size: 13px;
  }
  #about {
    height: 77vh;
  }
  .team-content {
    gap: 1rem;
    margin-left: 8px;
    margin-right: 12px;
  }
  #contact {
    margin-left: 0px;
  }
}


/* @media only screen and (min-width: 360px) and (max-width: 740px) {
  section {
    padding-left: 0rem;
  }
  .nav-links li a {
    padding-left: 1rem;
  }
  
  article {
    width: 100%;
    height: 100%;
  }
  #k-dramas {
    height: 175vh;
  }
  section.card .text-content h1 {
    font-size: 1.5rem;
  }
  section.card .text-content p {
    font-size: 0.7rem;
  }
  .container .card {
    max-width: 160px;
    height: 128px;
  }
  .container .card .imgBx {
    width: 128px;
    height: 149px;
  }
  .container .card:hover {
    height: 431px;
  }
  #about {
    height: 61vh;
  }
  .team-content {
    margin-left: 8px;
    margin-right: 9px;
  }
  #contact {
    margin-left: 0px;
  }
}*/


@media (min-width: 390px) and (max-width: 390px) {
  .nav-links li a {
    padding-left: 4rem;
  }
  section {
    padding-left: 0;
}
  #home {
    padding-top: 13rem;
  }
  #k-dramas {
    height: 171vh;
}
  .container .card {
    max-width: 175px;
}
.container .card .imgBx {
  width: 145px;
}
.container .card:hover {
  height: 439px;
}
  .container .card .content h2 {
    font-size: 20px;
  }
  .container .card .content p {
    font-size: 13.5px;
  }
  #about {
    height: 70vh;
  }
  .team-content {
    margin-left: 6px;
    margin-right: 6px;
}
#contact {
  margin-left: 0px;
}
}

/*@media only screen and (min-width: 412px) and (max-width: 914px) {
  #k-dramas {
    height: 160vh;
}
} */
@media (min-width: 414px) and (max-width: 414px) {
  #home {
    padding-top: 13rem;
  }
  .sub-title h1 {
    font-size: 1.9rem;
    padding-top: 5rem;
  }
  .container .card:hover {
    height: 440px;
  }
  #k-dramas {
    height: 159vh;
  }
  #about {
    height: 100%;
  }
}

/* @media (min-width: 540px) and (max-width: 540px){
  .nav-links li a {
    padding-left: 14rem;
}
#home {
  padding-top: 9rem;
}
article {
  max-width: calc(482px);
}
section.card .text-content h1 {
  font-size: 23px;
}
section.card .text-content p {
  font-size: 15px;
}
#k-dramas {
  height: 201vh;
}
.container .card {
  max-width: 245px;
  height: 169px;
}
.container .card .imgBx {
  width: 184px;
}
.container .card .content h2 {
  font-size: 23px;
}
.container .card .content p {
  font-size: 16.5px;
}
#about {
  height: 72vh;
}
.team-content {
  margin-left: 49px;
  margin-right: 41px;
}

} */

/* @media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-links li a {
    padding-left: 27rem;
}
article {
  max-width: calc(705px);
  min-width: calc(268px);
}
section.card .text-content p {
  padding-left: 19rem;
  font-size: 1.2rem;
}
.sub-title h1 {
  font-size: 2.5rem;
  padding-top: 6rem;
}
#k-dramas {
  height: 142vh;
}
.container .card:hover {
  height: 502px;
}
.container .card .content h2 {
  font-size: 23px;
}
.container .card .content p {
  font-size: 16.5px;
}
} */
/* @media only screen and (min-width: 820px) and (max-width: 1180px) {
  .nav-links li a {
    padding-left: 1rem;
  }
  #home {
    padding-top: 17rem;
  }
  .sub-title h1 {
    font-size: 2.5rem;
  }
  section.card .text-content p {
    padding-left: 19rem;
    font-size: 1.1rem;
  }
  #k-dramas {
    height: 121vh;
  }
} */

/* @media only screen and (min-width: 912px) and (max-width: 1368px){
  #home {
    padding-top: 15rem;
}
article {
  max-width: calc(840px);
  min-width: calc(855px);
}
section.card .text-content h1{
  font-size: 33px;
}
section.card .text-content p {
  font-size: 17px;
}
.sub-title h1 {
  font-size: 49px;
}
.container .card {
  max-width: 284px;
  height: 248px;
}
.container .card:hover {
  height: 546px;
}
.container .card .imgBx {
  width: 229px;
}
.container .card .content h2 {
  font-size: 27px;
}
.container .card .content p {
  font-size: 19.5px;
}
#about {
  height: 28vh;
  padding-top: 7rem;
}
#contact {
  margin-top: 396px;
  height: 43vh;
}
} */
