@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    margin: 0;
    font-family: 'Young Serif', serif;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    font-weight: 800;
    color: rgb(25);
    text-transform: uppercase;
    background-color: var(--clr);
}

header {
    position: fixed;
    top: 0%;
    width: 100%;
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 0;
}

.logo {
    position: relative;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
}

header nav {
    display: flex;
    gap: 10px;
}

header nav a {
    position: relative;
    text-decoration: none;
    padding: 12px 20px;
    color: aliceblue;
    font-weight: 500;
}

header nav a.active {
    background: var(--clr);
    color: #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header nav a.active::before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 0%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px var(--clr);
}

header nav a.active::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 5px 0 5px var(--clr);
}