@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,300,500");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
nav {
  height: 3rem;
  width: 100vw;
  background-color: #131418;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  z-index: 10;
  letter-spacing: 1px;
}

/*Styling logo*/
.logo {
  padding: 1vh 1vw;
  text-align: center;
}
.logo img {
  height: 5rem;
  width: 5rem;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li a {
  color: #fff;
  font-weight: 300;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  margin: 0 0.7vw;
}
.nav-links li a:hover {
  color: #cc005f;
}
.nav-links li {
  position: relative;
}
.nav-links li a:hover::before {
  width: 80%;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 800;
  color: black;
}

/* about section */

#home {
  margin: 0;
  padding: 90px;
  height: 100%;
  font-size: 21px;
  background: radial-gradient(#281c3e, #0f051d);
  color: #000;
  font-family: "Poppins", sans-serif;
}

section.card {
  background: -webkit-linear-gradient(to right, #1cb5e0, #000046);
  background: linear-gradient(to right, #1cb5e0, #000046);
  border-radius: 24px 24px 24px 48px;
  padding: 48px 48px 48px 308px;
  min-width: 640px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  position: relative;
  box-shadow: 5px 0 0 0 rgba(204, 204, 204, 0.3),
    -5px 0 0 0 rgba(204, 204, 204, 0.3), 0 5px 0 0 rgba(204, 204, 204, 0.3);
}
section.card .text-content {
  display: flex;
  flex-direction: column;
  width: calc(60vw - 192px);
}
section.card .text-content h3 {
  margin: 0;
  padding-left: 2rem;
  font-size: 1.5em;
  max-width: 20ch;
  color: #fff;
}
section.card .text-content p {
  margin: 25px 0 24px;
  color: #fff;
  font-size: 0.9em;
  padding-left: 2rem;
}

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  border-radius: 20px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffd401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button a {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:hover a {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
section.card .visual {
  width: 300px;
  height: 100%;
  position: absolute;
  top: -24px;
  left: 24px;
  overflow: hidden;
  border-radius: 24px;
}
section.card .visual img {
  height: 100%;
}
article {
  margin: auto;
  display: block;
  width: calc(60vw + 248px);
  max-width: calc(920px + 248px);
  min-width: calc(640px + 248px);
}

#about {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
  background: radial-gradient(#281c3e, #0f051d);
}

.team {
  position: relative;
  width: 100%;
  height: 100vh;
  background: radial-gradient(#281c3e, #0f051d);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.team-content {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-top: 4rem;
}

.team-content img {
  width: 50%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;
}

.center h1 {
  color: #fff;
  font-size: 4rem;
  text-align: center;
}

.box {
  padding: 16px;
  background: #1b1229;
  border-radius: 15px;
  transition: all 0.38s ease;
}

.box h3 {
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 8px;
}

.box h5 {
  font-size: 15px;
  font-weight: 600;
  color: #b7b4bb;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.icons i {
  display: inline-block;
  color: #b6b6b6;
  font-size: 20px;
  margin: 0 8px;
  transition: all 0.38s ease;
  border: 2px solid #313131;
  border-radius: 20%;
}

.icons i:hover {
  transform: scale(1.2);
  background-color: rgb(36, 36, 36);
  color: #ff0077;
  transition: ease.5s;
  text-decoration: none;
}

.box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
