@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,300,500");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: rgb(22, 1, 32);
}

nav {
  height: 4rem;
  width: 100vw;
  background-color: #131418;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  z-index: 10;
  letter-spacing: 1px;
}

/**************************Styling logo***************************/
.logo {
  padding: 1vh 1vw;
  text-align: center;
}

.logo img {
  height: 5rem;
  width: 5rem;
}

.cube-loader {
  position: relative;
  top: 1rem;
  left: 1rem;
  /* u can choose any size */
  width: 35px;
  height: 35px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-loader .cube-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  /* top: 0;
  left: 0; */
  transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
  /* width 75px / 2 = 37.5px */
  transform: rotateY(calc(90deg * var(--i))) translateZ(17.5px);
  background: linear-gradient(to bottom,
      hsl(330, 3.13%, 25.1%) 0%,
      hsl(177.27, 21.71%, 32.06%) 5.5%,
      hsl(176.67, 34.1%, 36.88%) 12.1%,
      hsl(176.61, 42.28%, 40.7%) 19.6%,
      hsl(176.63, 48.32%, 43.88%) 27.9%,
      hsl(176.66, 53.07%, 46.58%) 36.6%,
      hsl(176.7, 56.94%, 48.91%) 45.6%,
      hsl(176.74, 62.39%, 50.91%) 54.6%,
      hsl(176.77, 69.86%, 52.62%) 63.4%,
      hsl(176.8, 76.78%, 54.08%) 71.7%,
      hsl(176.83, 83.02%, 55.29%) 79.4%,
      hsl(176.85, 88.44%, 56.28%) 86.2%,
      hsl(176.86, 92.9%, 57.04%) 91.9%,
      hsl(176.88, 96.24%, 57.59%) 96.3%,
      hsl(176.88, 98.34%, 57.93%) 99%,
      hsl(176.89, 99.07%, 58.04%) 100%);
}

.cube-top {
  position: absolute;
  width: 35px;
  height: 35px;
  background: hsl(330, 3.13%, 25.1%) 0%;
  /* width 75px / 2 = 17.5px */
  transform: rotateX(90deg) translateZ(17.5px);
  transform-style: preserve-3d;
}

.cube-top::before {
  content: "";
  position: absolute;
  /* u can choose any size */
  width: 35px;
  height: 35px;
  background: hsl(176.61, 42.28%, 40.7%) 19.6%;
  transform: translateZ(-90px);
  filter: blur(10px);
  box-shadow: 0 0 10px #323232, 0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
    0 0 30px #323232, 0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
}

/*************************Styling Links **************************/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

.nav-links li a {
  color: #8aeff8;
  font-weight: 300;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  margin: 0 0.7vw;
}

.nav-links li a:hover {
  color: #8fb204;
}

.nav-links li {
  position: relative;
}

.nav-links li a:hover::before {
  width: 80%;
}

/****************************** Styling Hamburger Icon ***********************/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/************************Animating Hamburger Icon on Click **********************/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

section {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 800;
  color: black;
  padding-left: 20px;
}

/********************************** home section ***********************/

#home {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 17px;
  background: rgb(22, 1, 32);
  color: #000;
  font-family: "Poppins", sans-serif;
}

section.card {
  background: -webkit-linear-gradient(to right, #1cb5e0, #284661);
  background: linear-gradient(to right, #4db6d3, #14354f);
  border-radius: 24px 24px 24px 48px;
  padding: 0;
  min-width: 40px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  position: relative;
  box-shadow: 5px 0 0 0 rgba(204, 204, 204, 0.3),
    -5px 0 0 0 rgba(204, 204, 204, 0.3), 0 5px 0 0 rgba(204, 204, 204, 0.3);
}

section.card .text-content {
  display: flex;
  flex-direction: column;

}

section.card .text-content h1 {
  padding-top: 2rem;
  color: #fdf8f8;
  font-weight: bold;
  font-size: 2.3rem;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;

}


h1 span {
  transition: 0.5s linear;
}

h1:hover span:nth-child(1) {
  margin-right: 10px;
}

h1:hover span:nth-child(2) {
  margin-left: 30px;
}

h1:hover span {
  color: #cc005f;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

section.card .text-content p {
  margin: 25px 0 24px;
  color: #3a2323;
  font-size: 0.9em;
  gap: 20;
  padding-left: 2rem;
  padding-top: 1rem;
}

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  border-radius: 20px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #baa021;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button a {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  transition: all 0.3s ease-in-out;
}

button:hover a {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

section.card .visual {
  width: 190px;
  height: 100%;
  position: absolute;
  top: -24px;
  left: 24px;
  overflow: hidden;
  border-radius: 24px;
}

section.card .visual img {
  height: 100%;
}

article {
  margin: auto;
  display: block;
  width: calc(60vw + 248px);
  max-width: calc(920px + 248px);
  min-width: calc(640px + 248px);
}

/*********************************** k-drama section *****************************/
#k-dramas {
  background: rgb(22, 1, 32);
  height: 155vh;
}

.sub-title h1 {
  font-size: 2rem;
  color: #cc005f;
  padding-top: 7rem;
  text-align: center;
}

.container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3rem;
  ;
}

.container .card {
  position: relative;
  max-width: 300px;
  height: 260px;
  background: linear-gradient(#6db2d7, #151b38);
  border-radius: 10px;
  margin: 30px 10px;
  padding: 20px 15px;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0, 5);
  transition: 0.3s ease-in-out;
}

.container .card:hover {
  height: 420px;
}

.container .card .imgBx {
  position: relative;
  width: 260px;
  height: 260px;
  padding-top: 1rem;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0, 5);
}

.container .card .imgBx img {
  max-width: 100%;
  height: 100%;
  border-radius: 4px;
}

.container .card .content h2 {
  color: white;
  text-align: center;
  font-size: 20px;
  padding-bottom: 0.1px;
}

.container .card .content p {
  color: black;
  text-align: justify;
  font-size: 15px;
  padding-bottom: 1px;
}

.container .card .content {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.icons a {
  font-size: 0.5rem;
}

/********************************* about section *******************************/
#about {
  background: rgb(22, 1, 32);
  padding-top: 5rem;
  flex-wrap: wrap;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
}

/* .team {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.team-content {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  gap: 6rem;
  text-align: center;
  margin-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5rem;
}

.team-content img {
  width: 50%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;
}

.box {
  padding: 16px;
  background: radial-gradient(#5e8093, #2c394e);
  border-radius: 15px;
  transition: all 0.38s ease;
}

.box h3 {
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 8px;
}

.box h5 {
  font-size: 15px;
  font-weight: 600;
  color: #b7b4bb;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.icons i {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin: 0 8px;
  transition: all 0.38s ease;
}

.icons i:hover {
  transform: scale(1.2);
  background-color: rgb(36, 36, 36);
  color: #cceb04;
  transition: ease.5s;
  text-decoration: none;
}

.box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

/************************************ contact section ************************/
#contact {
  margin-top: 120px;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5in;
  
}

.contactt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactt form {
  width: 800px;
  height: 500px;
  display: flex;
  justify-content: center;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgb(38, 2, 38);
  flex-wrap: wrap;
  gap: 20px;
}

.contactt form h1 {
  color: #fff;
  font-weight: 500;
  margin-top: 20px;
  width: 800px;
  text-align: center;
  margin-bottom: 40px;
}

.contactt form input {
  width: 350px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  margin-bottom: 20px;
  background: none;
  border-bottom: 2px solid #fff;
}

.contactt form input::placeholder {
  color: #ffffff;
}

.contactt form h4 {
  color: #c5bebe;
  font-weight: 300;
  width: 700px;
  margin-top: 20px;
}

.contactt form textarea {
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-weight: 200;
  font-size: 15px;
  padding-left: 10px;
  outline: none;
  width: 700px;
}

textarea::-webkit-scrollbar {
  width: 1em;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(58, 57, 57, 0.713);
}

.contactt form #button {
  border: none;
  background: #031833;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  color: #f2f3f0;
  width: 100px;
  padding: 0;
  margin-bottom: 30px;
  transition-duration: 0.5s;
}

.contactt form #button:hover {
  opacity: 0.7;
  color: rgb(18, 18, 18);
  background-color: yellow;
}

/************************************* Footer ********************************/
footer {
  background-color: #1a2436;
}

.footer-nav {
  display: flex;
  justify-content: center;
}

.footnav-links {
  list-style: none;
  display: flex;
  font-size: 1.2rem;
  gap: 1rem;
}

.footnav-links a {
  color: #abe8fc;
  font-weight: 200;
  transition-duration: 0.5s;
}

.footnav-links a:hover {
  color: #a2b719;
}

.footer-bottom {
  color: #a2e4f6;
  font-size: 1rem;
  text-align: center;
} 